
*{
  color: white;
}
.hi{
  background-image: url("prgbck.png");
  height: 1000px;
  
  background-repeat: no-repeat;
  position: relative;
  
}
.yash{
  color: black;
  position: relative;
  margin: 5px 5px 5px 5px ;
  
}